node_modules/
dist/
.env
*.log
*.md
!README.md

PLAN.md
plan.md
# macOS
.DS_Store

# Xcode
ios/HapticSense.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/DerivedData/
ios/.build/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.xcscmblueprint

# CocoaPods
Pods/

# Claude
.cursorrules
claude.md
CLAUDE.md
